<div class="container">
  <h1 id="title">Ma to do</h1>
  <% @tasks.each do |task| %>
    <div class="owl-task">
      <% if task.done %>
        <i class="fas fa-check" id="done"></i>
      <% else %>
        <i class="fas fa-times" id="todo"></i>
      <% end %>
      <div class="task-card">
        <div class="top-card">
          <h2><span class="underline--magical"><%= task.organization %></span></h2>
          <p><%= task.deadline %></p>
        </div>
        <h3><%= task.name %></h3>
        <p><%= task.description %></p>
      </div>
      <div class="module-border-wrap">
        <div class="module">
          <%= link_to "", task_subtasks_path(task), class: "fas fa-arrow-right", id: "go"  %>
          <!-- <i class="fas fa-arrow-right" id="go"></i> -->
        </div>
      </div>
    </div>
  <% end %>
</div>



