<div class="container">
  <h1 id="title">Ma to do</h1>
  <% @tasks.each do |task| %>
    <div class="owl-task">
      <% if Usertask.find_by(user:current_user, task:task).done %>
        <i class="fas fa-check" id="done"></i>
        <div class="line-done <%= "next-to-do" if !Usertask.find_by(user:current_user, task:task).next_is_done? %>"></div>
      <% elsif task == @tasks.last %>
        <i class="fas fa-times" id="todo"></i>
      <% else %>
        <i class="fas fa-times" id="todo"></i>
        <div class="line-todo"></div>
      <% end %>
      <div class="task-card">
        <div class="top-card">
          <h2><span class="underline--magical"><%= task.organization %></span></h2>
          <p><%= task.deadline %></p>
        </div>
        <h3><%= task.name %></h3>
        <p><%= task.description %></p>
      </div>
      <div class="module-border-wrap">
        <div class="module">
          <%= link_to "", task_subtasks_path(task), class: "fas fa-arrow-right", id: "go"  %>
        </div>
      </div>
    </div>
  <% end %>
</div>


