<div class="container">
  <div class="owl-edit">

    <div class="left-edit">
      <div class="changement">
        <h1>Je déclare un changement</h1>
      </div>


      <div class="owl-theme">
        <div class="theme" id="sante-change">
          <h2>La santé</h2>
          <div class="toggle-list-change" data-user-id="<%= current_user.id %>" data-category="sante">
            <i class="fas fa-plus-circle plus" ></i>
          </div>
        </div>
        <div class="list-change"></div>
      </div>


      <div class="owl-theme">
        <div class="theme" id="boulot-change">
          <h2>Le boulot</h2>
          <div class="toggle-list-change" data-user-id="<%= current_user.id %>" data-category="boulot">
            <i class="fas fa-plus-circle plus" ></i>
          </div>
        </div>
        <div class="list-change"></div>
      </div>


      <div class="owl-theme">
        <div class="theme" id="mif-change">
          <h2>La mif</h2>
          <div class="toggle-list-change" data-user-id="<%= current_user.id %>" data-category="mif">
            <i class="fas fa-plus-circle plus"></i>
          </div>
        </div>
        <div class="list-change"></div>
      </div>


      <div class="owl-theme">
        <div class="theme" id="casa-change">
          <h2>La casa</h2>
          <div class="toggle-list-change" data-user-id="<%= current_user.id %>" data-category="casa">
            <i class="fas fa-plus-circle plus"></i>
          </div>
        </div>
        <div class="list-change"></div>
      </div>
    </div>



    <div class="situation-form invisible">
      <h3>Nouvel appart pour une nouvelle vie !</h3>
      <%= simple_form_for [ @user, @habitation ] do |f| %>
        <p>Quelle est ta nouvelle adresse Doudou ?</p>
        <div class="d-flex">
          <%= f.input :number, id: "numero"%>
          <%= f.input :street %>
        </div>
        <div class="d-flex">
          <%= f.input :city  %>
          <%= f.input :zip_code %>
        </div>
        <%= f.input :category %>
        <%= f.input :rent %>
        <%= f.input :size %>
        <%= f.input :lease_start_date %>
        <%= f.input :furnished %>
        <%= f.submit "Je valide ma nouvelle adresse", class: "btn-validate" %>
      <% end %>
    </div>
  </div>
</div>
