<div class="home-wrapper">

  <div class="row">

    <div class="col-5 d-flex flex-column justify-content-center">
      <h1 id="home-slogan">Finie la phobie <span class="header-underline">administrative!</span></h1>

      <div class="home-short-description">
        <p>CAF, Ameli, Impot.gouv...leur simple évocation te donne des sueurs froides ?</p>
        <p>Pas de panique ! <span id="home-tata-monique">Tata Monique</span> t'accompagne dans <strong class="description-underline">toutes tes démarches administratives !</strong></p>
      </div>

      <div class="home-buttons">
          <a href="#" class="btn btn-col btn-home" style="margin-right: 16px">Consulter ma To Do</a>
          <a href="#" class="btn btn-col btn-home-light">Déclarer un changement</a>
      </div>
    </div>

    <div class="col-7 p-0">
      <div class="home-page-zen">
        <%= image_tag ("home_page_zen.png") %>
      </div>
    </div>

  </div>

</div>

<div class="banner-verbatim d-flex">
  <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
  <div class="notification-content">
    <p><small>14th January</small></p>
    <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit.</p>
  </div>
</div>

<!-- OLD -->

<!-- <div class="container-home">
  <div class="background-home">
    <%= image_tag "https://res.cloudinary.com/dnjssngdu/image/upload/v1598348424/Tata%20Monique/bryan-garces-IXUM4cJynP0-unsplash_ehhhcg.jpg", alt: "alttext", width:700%>
  </div>

  <div class="left-details">
    <div class="title">
      <p>Finie la phobie administrative, laisse-faire </p>
      <h2>Tata Monique</h2>
    </div>

    <div class="logo">
      <%= image_tag "https://res.cloudinary.com/dnjssngdu/image/upload/v1598346926/Tata%20Monique/grandmother_1_hduhv1.png", width:100 %>
    </div>
    <div class="buttons">
      <div class="button">
        <button type="button" class="btn btn-light" id="to-do">
          <%= link_to "Accéder à ma To-Do", root_path %>
        </button>
      </div>
      <div class="button">
        <button type="button" class="btn btn-light" id="change">
          <%= link_to "Déclarer un changement", root_path %>
        </button>
      </div>
    </div>


    <div class="services">
      <div class="serv-pub">
        <img src="https://res.cloudinary.com/dnjssngdu/image/upload/v1598361928/bandeau-servicepublic_wu0wxv.jpg" alt="" id="serv-pub">
      </div>
      <div class="alloc">
        <img src="https://res.cloudinary.com/dnjssngdu/image/upload/v1598363190/caf-200320-001_j00gcx.jpg" alt="">
      </div>
      <div class="impots">
        <img src="https://res.cloudinary.com/dnjssngdu/image/upload/v1598361927/impots_flaxbd.png" alt="" id="impots">
      </div>
      <div class="ameli">
        <img src="https://res.cloudinary.com/dnjssngdu/image/upload/v1598361928/assurance-maladie-ameli_s5jmrp.jpg" alt="">
      </div>
      <div class="serv-etud">
        <img src="https://res.cloudinary.com/dnjssngdu/image/upload/v1598361927/header_etudiantgouv_2020_RF_1249046_kms7ot.png" alt="">
      </div>
      <div class="droits-soc">
        <img src="https://res.cloudinary.com/dnjssngdu/image/upload/v1598365597/logo-mesdroitssociaux_cvmobm.png" alt="">
      </div>
    </div>

  </div>
</div> -->

