<div class="container docs">
  <h1 class="mesdocs text-center"> Mes documents</h1>
  <div class="docs ">

    <% Document::CATEGORIES.each do |category| %>
      <div class="categoryrow">
        <div class="wholeleft">
          <div class="category-left border-right">
            <h2><%= category %></h2>
          </div>
          <div class="category-right">
            <% @documents.where(category: category).each do |document| %>
              <div class="cardinfo border-right">
                <% if document.photo.attached? && document.photo.previewable? %>
                  <li >
                    <p><%= document.name %> </p>
                    <%= link_to cl_image_path(document.photo.key), target: "_blank" do %>
                      <%= image_tag document.photo.preview(resize_to_limit: [120, 120]) %>
                    <% end %>
                  </li>
                <% end %>
                <% if document.photo.attached? && !document.photo.previewable? %>
                  <li>
                    <p> <%= document.name %></p>
                    <%= cl_image_tag document.photo.key, width: 120, height:120, crop: :fill %>
                  </li>
                <% end %>
              </div>
              <%= link_to "", document_path(document), method: :delete, data: { confirm: "T'es sah?" }, class: "dedoc far fa-trash-alt" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

