<div class="container">
  <h1 id="title">Hop, voilà quelques détails !</h1>
  <div class="chronology">
    <% @subtasks.each do |subtask| %>
      <div class="done-and-line">
        <% if subtask.done_by_user?(current_user) %>
          <i class="fas fa-check done medium-done"></i>
          <div class="line-done-hor <%= "next-to-do" if !subtask.next_is_done?(current_user) %>"></div>
        <% elsif subtask == @active_subtask %>
          <div class="todo-module">
            <i class="far fa-circle todo"></i>
          </div>
          <div class="line-todo-hor"></div>
        <% elsif subtask == @subtasks.last %>
          <i class="fas fa-times todo medium-todo"></i>
        <% else %>
          <i class="fas fa-times todo medium-todo"></i>
          <div class="line-todo-hor"></div>
        <% end %>
      </div>
    <% end %>
  </div>


  <div class="centering">
    <div class="subtask-card">
      <div class="top-card">
        <h3><%= @active_subtask.name %></h3>
        <div class="corner-right">
          <p>Encore <%= (Date.today - @active_subtask.deadline).to_i %> jours pour le faire</p>
        </div>
      </div>
      <p><%=@active_subtask.description.html_safe%></p>
      <% if @active_subtask.subtask_type == "upload" %>
          <%= simple_form_for  @active_subtask.user_subtask(current_user) do |f| %>
            <%= f.simple_fields_for :document do |document| %>
            <div class="droparea">
              <div id="manual-input">
                <h2 div="faisglisser">Fais glisser un document</h2>
                <%= document.input :photo, as: :file, required: true, input_html: { class: 'd-none', id: 'photo-input' }, label_html: { class: 'upload-photo'}, label: "Ou cherches-en un" %>
              </div>
              <div id="photo-preview">
              </div>
            </div>
            <% end %>
            <div class="upload-validation">
              <%= f.submit 'Je valide !', class: " upload btn-validate" %>
            </div>
          <% end %>
      <% end %>
      <div class="validate">
        <i class="fas fa-check done"></i>
      </div>
    </div>
  </div>
</div>
