<div class="container">
  <h1 id="title">Hop, voilà quelques détails !</h1>
  <div class="chronology">
    <% @subtasks.each do |subtask| %>
      <div class="done-and-line">
        <% if subtask.done_by_user?(current_user) %>
          <i class="fas fa-check done medium-done"></i>
          <div class="line-done-hor <%= "next-to-do" if !subtask.next_is_done?(current_user) %>"></div>
        <% elsif subtask == @active_subtask %>
          <i class="fas fa-times todo"></i>
          <div class="line-todo-hor"></div>
        <% elsif subtask == @subtasks.last %>
          <i class="fas fa-times todo medium-todo"></i>
        <% else %>
          <i class="fas fa-times todo medium-todo"></i>
          <div class="line-todo-hor"></div>
        <% end %>
      </div>
    <% end %>
  </div>


  <div class="centering">
    <div class="subtask-card">
      <div class="top-card">
        <h3><%= @active_subtask.name %></h3>
        <div class="corner-right">
          <p><%= @active_subtask.deadline %></p>
        </div>
      </div>
      <% if @active_subtask.done_by_user?(current_user) %>
        <p>C'est déja fait !</p>
      <% else %>
        <p><%=@active_subtask.description%></p>
        <% if @active_subtask.subtask_type == "upload" %>
            <%= @active_subtask.user_subtask(current_user).id %>
            <%= simple_form_for  @active_subtask.user_subtask(current_user) do |f| %>
              <%= f.simple_fields_for :document do |document| %>
                <%= document.input :category, collection: Document::CATEGORIES, required: true%>
                <%= document.input :name, required: true %>
                <%= document.input :photo, as: :file, required: true %>
              <% end %>
              <%= f.submit class: "btn btn-primary" %>
            <% end %>

          <p>input</p>
        <% end %>
      <% end %>
      <div class="validate">
        <i class="fas fa-check done"></i>
      </div>
    </div>
  </div>

</div>

